# Question 1 
This section aims to answer the following questions:
## What is the nature of the relationship between internet infrastructure and income at this moment in time?

- Is there a link between less economically advantaged areas and less developed infrastructure? 
- Does this highlight a social issue?

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Importing the income and coverage data

income_df = pd.read_csv("raw_income_data.csv")
coverage_df = pd.read_csv("raw_coverage_data.csv")

- Isolate the relevant data
    - Drop irrelevant columns
    - Drop irrelevant rows (WHERE MEASURES_NAME == 'Confidence')
- General statistics: Top 10 wealthiest/poorest, Top 10 connected/disconnected, df.describe type stats (boxplots, bar charts, histograms)
    - Makes notes on potential reoccurring areas in top 10s
- Join the data together by the area
- Graph plotting connectivity vs wealth
    - breakdown for the types of connectivity
-

In [4]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE                 25000 non-null  int64
 1   DATE_NAME            25000 non-null  int64
 2   DATE_CODE            25000 non-null  int64
 3   DATE_TYPE            25000 non-null  object
 4   DATE_TYPECODE        25000 non-null  int64
 5   DATE_SORTORDER       25000 non-null  int64
 6   GEOGRAPHY            25000 non-null  int64
 7   GEOGRAPHY_NAME       25000 non-null  object
 8   GEOGRAPHY_CODE       25000 non-null  object
 9   GEOGRAPHY_TYPE       25000 non-null  object
 10  GEOGRAPHY_TYPECODE   25000 non-null  int64
 11  GEOGRAPHY_SORTORDER  25000 non-null  int64
 12  SEX                  25000 non-null  int64
 13  SEX_NAME             25000 non-null  object
 14  SEX_CODE             25000 non-null  int64
 15  SEX_TYPE             25000 non-null  object
 16  SEX_TYPECODE         25000 non-null  int64
 17  SEX_SORTORDER        25000 non-null  int64
 18  PAY                  25000 non-null  int64
 19  PAY_NAME             25000 non-null  object
 20  PAY_CODE             25000 non-null  int64
 21  PAY_TYPE             25000 non-null  object
 22  PAY_TYPECODE         25000 non-null  int64
 23  PAY_SORTORDER        25000 non-null  int64
 24  ITEM                 25000 non-null  int64
 25  ITEM_NAME            25000 non-null  object
 26  ITEM_CODE            25000 non-null  int64
 27  ITEM_TYPE            25000 non-null  object
 28  ITEM_TYPECODE        25000 non-null  int64
 29  ITEM_SORTORDER       25000 non-null  int64
 30  MEASURES             25000 non-null  int64
 31  MEASURES_NAME        25000 non-null  object
 32  OBS_VALUE            8797 non-null   float64
 33  OBS_STATUS           25000 non-null  object
 34  OBS_STATUS_NAME      25000 non-null  object
 35  OBS_CONF             25000 non-null  object
 36  OBS_CONF_NAME        25000 non-null  object
 37  URN                  25000 non-null  object
 38  RECORD_OFFSET        25000 non-null  int64
 39  RECORD_COUNT         25000 non-null  int64
dtypes: float64(1), int64(23), object(16)
memory usage: 7.6+ MB